.awesome {
    padding: 116px 0;
}
.awesome-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.awesome-card {
    width: 370px;
    margin-bottom: 85px;
}
.awesome-card-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    &:hover{
        transform: scale(1.6);
        transition-duration: 0.3s;
    }
}
.awesome-card-title {
    font-weight: 900;
    font-size: $_24px;
    line-height: 28px;
    color: $_black;
    text-align: center;
    margin-bottom: 30px;
}
.awesome-card-text {
    font-weight: 400;
    font-size: $_18px;
    line-height: 21px;
    color: $_grey;
    text-align: center;
}